.dashlayer {
  height: 100vh;
  display: flex;
}
.leftBarArea {
  width: 15%;
  border: 0.5px solid rgb(219, 218, 218);
}

.leftBar {
  height: 99vh;
}
.leftBarLogo {
  font-weight: bolder;
}
.optionsBlock {
  padding-top: 23px;
}
.options {
  text-decoration: none;
  color: #30475e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 0.5px solid; */
  margin-right: 30px;
}
.optionIcon {
  padding-right: 10px;
}
.optionArrow {
  padding-top: 2px;
}

/* righttab */
.rightDashArea {
  background-color: #dddddd;
}
.infoTab {
  height: 60px;
  background-color: white;
}
.chartArea {
  margin: 10px;
}
.moreDetails {
  margin: 10px;
}
